<form
  id="add-opera-form"
  fxLayout="column"
  [formGroup]="formGroup"
  (ngSubmit)="addOpera()"
>
  <h2>Inserisci una nuova opera</h2>
  <p id="error">{{ errorMessage }}</p>

  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Descrizione" formControlName="description" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tipo" formControlName="type" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Categoria" formControlName="categories" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prezzo" formControlName="price" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Inserisci</button>
</form>
