<mat-toolbar id="header" color="primary">
  <img src="assets/logo-header.png" />

  <span class="spacer"></span>

  <div *ngIf="checkAuth()">
    <span class="spaces">Effettua il</span>
    <a routerLink="/login" id="login-btn" mat-raised-button>Login</a>
    <span class="spaces">oppure</span>
    <a routerLink="/login" id="signup-btn" mat-raised-button>Iscriviti</a>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="!checkAuth()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button routerLink="/nft/user" mat-menu-item>
      <mat-icon>format_list_bulleted</mat-icon>
      <span>Le mie opere</span>
    </button>
    <button routerLink="/" mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
