.form{
  width: 50%;
  height: 100%;
  display: block;
  background-color: blanchedalmond
}

.form h2{
  color: rgba(47, 0, 255, 0.842);
  font-family: 'Brush Script MT';
  font-size: 3em;
}

#bg-login{
  height: 100%;
  width: 60%;
  background-image: url("./../../assets/backg2.jpeg");
}

#login-logo{
  width: 30%;
}



