.form-inner {
  top: 25%;
  transform: translateY(-50%);
  width: 75%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.865);
}

#forgot {
  padding-bottom: 2%;
}

.form-inner a {
  color: rgba(0, 12, 180, 0.89);
  text-decoration: underline;
}

#error {
  color: brown;
}

#hide-icon {
  cursor: pointer;
}

#go-to-home {
  display: none;
}

@media screen and (max-width: 800px) {
  .form-inner {
    top: 10em;
  }

  #go-to-home {
    display: block;
    background-color: lightblue;
    color: black;
    margin-top: 1em;
  }
}
