body {
  background-color: whitesmoke;
}

#form-login {
  width: 50%;
}

#form-login h2 {
  color: rgba(47, 0, 255, 0.842);
  font-family: "Brush Script MT";
  font-size: 3em;
}

#bg-login {
  width: 60%;
  overflow: hidden;
}

#login-logo {
  width: 30%;
  margin-left: 3em;
}

#video-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
  width: 45%;
  padding: 1em;
  border-radius: 1em;
}

#video-content h1 {
  color: azure;
  font-size: 2em;
}

#video-content p {
  font-size: 1.2em;
}

@media screen and (max-width: 800px) {
  #bg-login {
    display: none;
  }

  #video-content {
    visibility: hidden;
  }

  #form-login {
    width: auto;
  }

  body {
    background-image: url("./../../../assets/bg-login-mobile.gif");
  }

  #login-logo {
    width: 45%;
    margin-left: 25%;
  }
}
