<body fxLayout="row">
  <div class="form">
    <img id="login-logo" src="assets/prova.png" />
    <app-login-form></app-login-form>
  </div>

  <div id="bg-login">
    <video autoplay muted loop id="myVideo">
      <source src="./../../../assets/backg-video.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-content">
    <h1>Scopri, colleziona e metti in vendita straordinari NFT</h1>
    <p>Benvenuto in NFT Lab, piattaforma di e-commerce basata sugli NFT.</p>
    <p>
      Associa le tue opere al rivoluzionario sistema di sicurezza basato su
      blockchain, rendendole uniche.
    </p>
    <a mat-raised-button color="primary" routerLink="/"> Torna alla home </a>
  </div>
</body>
