body {
  background-color: whitesmoke;
}

.form {
  width: 50%;
  height: 100%;
  display: block;
}

.form h2 {
  color: rgba(47, 0, 255, 0.842);
  font-family: "Brush Script MT";
  font-size: 3em;
}

#bg-login {
  height: 100%;
  width: 60%;
  overflow: hidden;
}

#login-logo {
  width: 30%;
  margin-left: 3em;
}

#myVideo {
  object-fit: fill;
}

#video-content {
  position: absolute;
  bottom: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
  width: 45%;
  padding: 1em;
  border-radius: 1em;
}

#video-content h1 {
  color: azure;
  font-size: 2em;
}

#video-content p {
  font-size: 1.2em;
}
