#content {
  padding: 1em;
}

.example-header-image {
  background-size: cover;
}

.section {
  font-weight: bold;
  color: rgba(11, 11, 104, 0.856);
}

#results {
  width: 90%;
  margin-left: 2em;
  margin-top: 1.5em;
}

#results > p {
  font-size: 2em;
  font-weight: bold;
  color: rgba(11, 11, 104, 0.856);
}
